* {
  box-sizing: border-box;
}
section {
  padding-left: 18px;
  margin-bottom: 5px;
}
section h3 {
  margin-left: -18px;
}
input[type='text'] {
  width: 350px;
}
span.description {
  font-style: italic;
  color: grey;
}
.btn {
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  height: 24px;
  padding: 1px 7px;
  -webkit-user-select: none;
}
.btn-primary {
  background: #48e;
  border-color: #37d;
  color: #fff;
}
